*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./azulyrojo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    text-align: center;
    margin-top: 30px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    height: fit-content;
}
.desc{
    padding: 0px 20px;
    border-radius: 10px;
}
.player{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 30px;
}
.grid{
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 492px;
    width: 592px;
    background-color: #1B3B8B;
    border-radius: 10px;
    column-gap: 3px;
}
.grid div {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    border: 1px solid;
}
.hole{
    background-color: white;
}
.player-one{
    background-color: blue;
    border-radius: 20px;
}
.player-two{
    background-color: red;
    border-radius: 20px;
}
.none{
    display: none;
}
.reset{
    background-color: white;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 10px;
}